.ExternalClass {
  width: 100%; }

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%; }

#outlook a {
  padding: 0; }

@media screen and (max-width: 660px) {
  .newsletter_title {
    font-size: 36px !important;
    line-height: 36px !important; }
  .main_table {
    width: auto; }
  .full_width_max {
    max-width: 100%; }
  .full_width {
    width: 100%; }
  .half_width {
    width: 49%;
    margin-bottom: 32px; }
  .third_width {
    width: 35%;
    padding-left: 10px; }
  .hero_name {
    font-size: 12px !important; }
  .hero_subtitle {
    font-size: 12px !important; }
  .article_title {
    font-size: 18px !important;
    line-height: 18px !important; }
  .article_text {
    line-height: 20px !important; }
    .article_text span {
      display: none; }
  .article_text--padded {
    font-size: 13px !important;
    line-height: 17px !important; }
  .half_padding {
    padding-top: 8px !important;
    padding-bottom: 8px !important; }
  .single_padding {
    padding-top: 16px !important;
    padding-bottom: 16px !important; }
  .one_half_padding {
    padding-top: 24px !important;
    padding-bottom: 24px !important; }
  .double_padding {
    padding-top: 32px !important;
    padding-bottom: 32px !important; }
  .half_padding_top {
    padding-top: 8px !important; }
  .single_padding_top {
    padding-top: 16px !important; }
  .one_half_padding_top {
    padding-top: 24px !important; }
  .double_padding_top {
    padding-top: 32px !important; }
  .half_padding_bottom {
    padding-bottom: 8px !important; }
  .single_padding_bottom {
    padding-bottom: 16px !important; }
  .one_half_padding_bottom {
    padding-bottom: 24px !important; }
  .double_padding_bottom {
    padding-bottom: 32px !important; }
  .padding_mobile {
    padding-bottom: 32px; } }

@media screen and (max-width: 321px) {
  .social-bottom {
    padding-left: 15px;
    padding-right: 15px; } }
