mixin apps
  table.main_table(width="100%" border="0" cellpadding="0" cellspacing="0" align="center")
    tr
      td.double_padding_bottom
        table.full_width(width="600" border="0" cellpadding="0" cellspacing="0" align="center")
          tr
            td.double_padding_top(align="center")
              p.apps_paragraph Get <a href=" www.lonelyplanet.com/guides?utm_source=lpemail&utm_medium=email&utm_campaign=guides-app">Guides app</a> by Lonely Planet: 
          tr
            td.single_padding.apps(align="center")
              a(href="http://app.appsflyer.com/com.lonelyplanet.guides?pid=Email&c=Editorial_Newsletter")
                img(src="http://media.sailthru.com/37s/1k0/3/2/56d6d3b05369d.png")
              a(href="https://app.appsflyer.com/id1045791869?pid=Email&c=Editorial_Newsletter")
                img(src="http://media.sailthru.com/37s/1k0/3/2/56d6d3b204318.png")
