mixin button(content)
  table.full_width(width="600" border="0" cellpadding="0" cellspacing="" align="center")
    tr
      td &nbsp;
      td.button(align="center")
        a(href="#{content.url}")
          span= content.label
      td &nbsp;
