include person.mix.jade
include header.mix.jade
include article_content.mix.jade
include articles.mix.jade
include destination.mix.jade
include separator.mix.jade
include section_title.mix.jade
include featured_titles.mix.jade
include button.mix.jade
include promotions.mix.jade
include social_bottom.mix.jade
include apps.mix.jade
include footer.mix.jade

