mixin promotions(content)
  table.main_table(width="100%" border="0" cellpadding="0" cellspacing="0" align="center")
    tr
      td
        mixin sectionTitle(content.title)
    each ad in content.items
      tr
        td
          table.full_width(width="600" border="0" cellpadding="0" cellspacing="0" align="center")
            tr
              td.double_padding_bottom(align="center")
                a(href="#{ad.url}")
                  img.full_width(src="#{ad.image}")