mixin social_bottom
  table.main_table(width="100%" border="0" cellpadding="0" cellspacing="0" align="center")
    tr
      td
        table.full_width(width="600" border="0" cellpadding="0" cellspacing="0" align="center")
          tr
            td.double_padding_top(align="center")
              p.social_paragraph Connect with us on:
          tr
            td.single_padding.social-bottom(align="center")
              a(href="https://www.facebook.com/lonelyplanet")
                img(src="http://media.sailthru.com/37s/1k0/3/2/56d6d70d112ac.png")
              a(href="https://twitter.com/lonelyplanet")
                img(src="http://media.sailthru.com/37s/1k0/3/2/56d6d70dedf89.png")
              a(href="http://pinterest.com/lonelyplanet/")
                img(src="http://media.sailthru.com/37s/1k0/3/2/56d6d70da5ead.png")
              a(href="https://www.instagram.com/lonelyplanet/")
                img(src="http://media.sailthru.com/37s/1k0/3/2/56d6d70d609c7.png")
              a(href="https://www.youtube.com/user/LonelyPlanet")
                img(src="http://media.sailthru.com/37s/1k0/3/2/56d6d70e45be0.png")
