include mixins/mixins.jade

DOCTYPE(html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd")
html(lang='en')
  include ./components/head.jade
  body
    table#bodyTable
      each block in blocks
        case block.type
          when 'header'
            mixin header(block)
          when 'articles'
            mixin articles(block)
          when 'destination'
            mixin destination(block)
          when 'featured_titles'
            mixin featured_titles(block)
          when 'promotions'
            mixin promotions(block)
      mixin social_bottom
      mixin apps
      mixin footer